.container {
     position: relative;
     padding-top: 5.5rem;
     padding-bottom: 5rem;
     padding-left: 1rem;
     padding-right: 1rem;
     width: 100vw;
     margin-left: calc(-50vw + 50%);
     overflow: hidden;
     background: linear-gradient(to bottom, #eff6ff 0%, #faf5ff 50%, #fce7f3 100%);
     background-attachment: fixed;
}


.logocontainer {
     margin-left: 60px;
     position: relative;
     bottom: 82px;

}

.logo {
     width: 200px;
     height: 80px;
}