.container {
     position: relative;
     padding-top: 5.5rem;
     padding-bottom: 5rem;
     padding-left: 1rem;
     padding-right: 1rem;
     width: 100vw;
     margin-left: calc(-50vw + 50%);
     overflow: hidden;
}


.logocontainer {
     margin-left: 60px;
     position: relative;
     bottom: 82px;

}

.logo {
     width: 200px;
     height: 80px;
}