.container {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: transparent;
  height: 55vw;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}